.Container {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.fullscreenDiv {
  background-color: white;
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 75px;
  left: 0;
  position: absolute;
  overflow-y: scroll
}

 
.ContainerText {
  position: absolute;
  left: 48%;
  top: 49%;
  justify-content : center;
  align-items: center;
  text-align: center;
  height: 100%;
  color:#3498db;
  font-weight: bold
}


/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader5*/
.Loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}